@import "normalize.css";

body {
    color: blue;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

.wrap {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 50px;
    height: 40px;
}