@import "normalize.css";

:root {
    --brown: #533738;
    --mid-br: #8D7370;
    --light-br: #CC8B86;
    --pale-br: #E2C4BA;
    --bg: #EFE6E4;
    --gap: 20px;
    --col-1: calc((100% - var(--gap) *11) / 12);
    --col-3: calc(3 * (100% - var(--gap) *11) / 12 + var(--gap) * 2);
    --col-5: calc(5 * (100% - var(--gap) *11) / 12 + var(--gap) * 4);
    --col-7: calc(7 * (100% - var(--gap) *11) / 12 + var(--gap) * 6);
    --col-10: calc(10 * (100% - var(--gap) *11) / 12 + var(--gap) * 9);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    font-size: 16px;
    background-color: var(--bg);
    /* background-image: url(../examp.jpg); */
}

.wrap {
    min-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 1px 0;
}

* {
    box-sizing: border-box;
}

.sect-title {
    font-size: 2.7rem;
    color: var(--brown);
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    line-height: 150%;
}

.main-text {
    font-size: 1.2rem;
    line-height: 150%;
    color: var(--brown);
}

.but {
    border: none;
    outline: none;
    padding: 25px 65px;
    background-color: var(--light-br);
    color: var(--brown);
    font-size: 1.5rem;
}

.circ {
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--light-br);
    display: flex;
    justify-content: center;
    align-items: center;
}