@import "normalize.css";

:root {
    --brown: #533738;
    --mid-br: #8D7370;
    --light-br: #CC8B86;
    --pale-br: #E2C4BA;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    font-size: 16px;
    /* background-image: url(../examp.jpg); */
}

.wrap {
    min-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}