@import "basic.css";

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 1rem;
    text-transform: uppercase;
}

.main-menu ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.main-menu a {
    color: var(--brown);
    font-size: 16px;
}

.tel {
    font-size: 1rem;
    color: var(--brown);
}

/*====promo=========*/
.promo {
    background: url(/img/header-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 150px;
    margin-top: -60px;
    padding-bottom: 170px;
}

.promo-text {
    width: 455px;
    margin-left: 85px;
}

.h1 {
    font-size: 50px;
    color: var(--brown);
    margin-bottom: 24px;
}

.promo-p {
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 20px;
}

.promo-but {
    display: inline-block;
}

/*============================*/

.about {
    padding-bottom: 20px;
}

.about-h {
    text-align: center;
}

.about-block {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.about-text {
    width: 530px;
    color: var(--brown);
}

.about-text p {
    font-size: 1.2rem;
    line-height: 150%;
}

/*==============statistic=====*/
.statistic {
    background-color: var(--mid-br);
    color: white;
    padding: 85px 0;
}

.statistic ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

.statistic li {
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
}

.statistic p {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
}

/*===============================*/
.works {}

.work-item img {
    width: 100%;
}

.work-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.work-descr {
    position: relative;
    background-image: url(../img/ap-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 85px 35px;
}

.work-ph {
    overflow: hidden;
}

.work-descr * {
    position: relative;
    z-index: 2;
}

.work-descr::after {
    content: '';
    background: rgba(100, 72, 69, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.size1 {
    width: var(--col-5);
    height: 450px;
}

.size2 {
    width: var(--col-7);
    height: 450px;
}

h3 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.more {
    border: none;
    outline: none;
    font-size: 30px;
    background: none;
    display: block;
    margin: 40px auto;
    color: var(--brown);
}

/*==================stuff=====*/
.stuff {
    background-color: var(--pale-br);
    color: var(--brown);
    font-size: 18px;
    padding-bottom: 50px;
}

.stuff h2 {
    text-align: center;
}

.members {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.member {
    width: 320px;
}

/*==================how=====*/
.how {
    background-color: var(--pale-br);
    color: var(--brown);
    font-size: 18px;
    padding-bottom: 80px;
}

.how h2 {
    text-align: center;
}

.preferences {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.pref {
    width: var(--col-3);
    text-align: center;
}

.number {
    background-color: var(--mid-br);
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;

}

/*============feedback==========*/
.feedback {
    padding-bottom: 70px;
}

.feedback h2 {
    text-align: center;
}

.gallery {
    width: var(--col-10);
    margin: 0 auto;
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.fb {
    display: flex;
    gap: var(--gap);
}

.fb_text {
    width: 300px;
}

.fb_photos {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.next {
    transform: rotate(180deg);
}

/*============request===========*/

#request {
    background-color: var(--mid-br);
    color: white;
}

#request h2 {
    color: white;
}

.row {
    display: flex;
    gap: var(--gap);
}

.req-form {
    padding-left: var(--col-1);
}

input[type="text"] {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    outline: none;
    color: white;
    margin: calc(var(--gap) * 2) 0;
}

input[type="text"]::-webkit-input-placeholder {
    color: white;
}

input[type="text"]::-moz-placeholder {
    color: white;
}

input[type="text"]::placeholder {
    color: white;
}

/*====================footer===========*/
.page-footer {
    padding: 30px 0;
}

.row-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}